src/conf/xml-resources/web-service-references/ProductoWebS/wsdl/localhost_8080/ProductosWS/ProductoWebS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.services.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.services.cl/" name="ProductoWebS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.services.cl/" schemaLocation="http://localhost:8080/ProductosWS/ProductoWebS?xsd=1"/>
</xsd:schema>
</types>
<message name="insertarProducto">
<part name="parameters" element="tns:insertarProducto"/>
</message>
<message name="insertarProductoResponse">
<part name="parameters" element="tns:insertarProductoResponse"/>
</message>
<message name="buscarProducto">
<part name="parameters" element="tns:buscarProducto"/>
</message>
<message name="buscarProductoResponse">
<part name="parameters" element="tns:buscarProductoResponse"/>
</message>
<message name="listarProductos">
<part name="parameters" element="tns:listarProductos"/>
</message>
<message name="listarProductosResponse">
<part name="parameters" element="tns:listarProductosResponse"/>
</message>
<portType name="ProductoWebS">
<operation name="insertarProducto">
<input wsam:Action="http://webservices.services.cl/ProductoWebS/insertarProductoRequest" message="tns:insertarProducto"/>
<output wsam:Action="http://webservices.services.cl/ProductoWebS/insertarProductoResponse" message="tns:insertarProductoResponse"/>
</operation>
<operation name="buscarProducto">
<input wsam:Action="http://webservices.services.cl/ProductoWebS/buscarProductoRequest" message="tns:buscarProducto"/>
<output wsam:Action="http://webservices.services.cl/ProductoWebS/buscarProductoResponse" message="tns:buscarProductoResponse"/>
</operation>
<operation name="listarProductos">
<input wsam:Action="http://webservices.services.cl/ProductoWebS/listarProductosRequest" message="tns:listarProductos"/>
<output wsam:Action="http://webservices.services.cl/ProductoWebS/listarProductosResponse" message="tns:listarProductosResponse"/>
</operation>
</portType>
<binding name="ProductoWebSPortBinding" type="tns:ProductoWebS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductoWebS">
<port name="ProductoWebSPort" binding="tns:ProductoWebSPortBinding">
<soap:address location="http://localhost:8080/ProductosWS/ProductoWebS"/>
</port>
</service>
</definitions>